<!DOCTYPE html>
<html lang="el">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Just Invoice - A simple invoice builer and tracker</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}?">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        {% block extracss %}
        {% endblock %}

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="{{ url_for('static', filename='js/base.js') }}"></script>
        {% block extrajs %}
        {% endblock %}

    </head>
    <body style="min-width:480px !important;">
      <header>
        <nav class="navbar navbar-expand-lg static-top navbar-light bg-light">
          <a class="navbar-brand" href="#">Just Invoice</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <div class="row">
              <div class="col-12">

            <ul class="navbar-nav mr-auto text-center">
              <li class="nav-item" id=home_url><a class="nav-link" href="/">Κεντρική Σελίδα</a></li>
              <li class="nav-item" id=invoice_url><a class="nav-link" href="{{ url_for('invoice') }}">Νέο Τιμολόγιο</a></li>
              <div class="dropdown">

              <li class="nav-item" id=customers_url><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Εισαγωγή/Ενημέρωση</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <a class="dropdown-item" href="{{ url_for('customer') }}">Πελάτη</a>
                 <a class="dropdown-item" href="{{ url_for('product') }}">Προϊόντος</a>
               </div>
             </li>
           </div>
              <li class="nav-item" id=search><a class="nav-link" href="{{ url_for('search') }}">Αναζήτητση</a></li>
            </ul>
          </div>
            </div>
          </div>
        </nav>
      </header>
      <div id="wrap">
      {% block mainbody %}
      {% endblock %}
    </div>
      <footer class="footer">
        <span class="text-muted">Stylianos Tsesmetzis <a href="https://github.com/tseste/just-invoice">Just Invoice</a></span>
      </footer>
    </body>
</html>
