{% extends 'base.html'%}
{% from "_baseformhelper.html" import render_field %}

{% block extrajs %}
    <script src="{{ url_for('static', filename='js/customer.js') }}"></script>
{% endblock %}

{% block mainbody %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1>Εισαγωγή/Ενημέρωση Πελάτη</h1>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong> One more Customer.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                <hr/>
                <form action="{{ url_for('customer') }}" method="post">
                    {{ form.csrf_token }}
                    {{ render_field(form.FirstName) }}
                    {{ render_field(form.LastName) }}
                    {{ render_field(form.Company) }}
                    {{ render_field(form.Address) }}
                    {{ render_field(form.City) }}
                    {{ render_field(form.Country) }}
                    {{ render_field(form.PostalCode) }}
                    {{ render_field(form.Phone) }}
                    {{ render_field(form.Fax) }}
                    {{ render_field(form.Email) }}
                    {{ form.TRN.label }}
                    {{ form.TRN(class="form-control", list="customer_list")}}
                    <datalist id="customer_list"></datalist>
                    {{ render_field(form.TaxOffice) }}
                    <hr/>
                    <button id="btnaddUser" class="btn btn-lg btn-primary btn-block" type="submit">Εισαγωγή/Ενημέρωση</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
