{% extends 'base.html'%}

{% block extrajs %}
    <script src="../static/js/customer.js"></script>
{% endblock %}

{% block mainbody %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1>Εισαγωγή/Ενημέρωση Πελάτη</h1>
                <hr/>
                <form action="{{ url_for('add_customer') }}" method="post">
                    <label for="FirstName">Όνομα</label>
                    <input type="text" name="FirstName" id="FirstName" class="form-control" required>
                    <label for="LastName">Επώνυμο</label>
                    <input type="text" name="LastName" id="LastName" class="form-control" required>
                    <label for="Company">Επάγγελμα</label>
                    <input type="text" name="Company" id="Company" class="form-control">
                    <label for="Address">Διεύθυνση</label>
                    <input type="text" name="Address" id="Address" class="form-control">
                    <label for="City">Πόλη</label>
                    <input type="text" name="City" id="City" class="form-control">
                    <label for="Country">Χώρα</label>
                    <input type="text" name="Country" id="Country" class="form-control">
                    <label for="PostalCode">Ταχυδρομικός Κώδικας</label>
                    <input type="text" name="PostalCode" id="PostalCode" class="form-control">
                    <label for="Phone">Τηλέφωνο</label>
                    <input type="text" name="Phone" id="Phone" class="form-control">
                    <label for="Fax">Fax</label>
                    <input type="text" name="Fax" id="Fax" class="form-control">
                    <label for="Email">Email</label>
                    <input type="email" name="Email" id="Email" class="form-control">
                    <label for="TRN">Α.Φ.Μ.</label>
                    <input type="text" name="TRN" id="TRN" class="form-control" list="customer_list" autocomplete="off" required>
                    <datalist id="customer_list">

                    </datalist>
                    <label for="TaxOffice">Δ.Ο.Υ.</label>
                    <input type="text" name="TaxOffice" id="TaxOffice" class="form-control" required>
                    <hr/>
                    <button id="btnaddUser" class="btn btn-lg btn-primary btn-block" type="submit">Εισαγωγή/Ενημέρωση</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
