{% extends 'base.html'%}

{% block extracss %}
  <link rel="stylesheet" href="../static/css/invoice.css">
{% endblock %}

{% block extrajs %}
    <script src="../static/js/invoice.js"></script>
{% endblock %}

{% block mainbody %}
<div class="vertical-center" style="margin-top:60px;">
  <div class="container" style="font-size: medium;">
    <form action="#" method="post">
      <section id="step-1">
        <div class="row justify-content-center">
          <div class="col-9">
            <div class="card">
              <div class="card-header text-center">
                Στοιχεία Τιμολογίου
              </div>
              <div class="card-body rounded" style="padding-bottom:10px; margin-bottom:5px;">
                <div class="form-group">
                  <div class="row">
                    <div class="col-12">
                      <label for="InvoiceId">Αριθμός Τιμολογίου</label>
                      <input type="text" name="InvoiceId" id="InvoiceId" class="form-control" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <label for="datepicker">Ημερομηνία Έκδοσης</label>
                      <div class="row justify-content-center">
                        <div class="col-8">
                          <input id="datepicker" type="text" name="datepicker" class="form-control">
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                <div class="card-footer" style="background-color:white;">
                  <button type="button" class="btn btn-primary float-right next">Επόμενο</button>
                </div>
            </div>
          </div>
        </div>
      </section>
      <section id="step-2" style="display: none;">
        <div class="row justify-content-center">
          <div class="col-9">
            <div class="card">
              <div class="card-header text-center">
                Στοιχεία πελάτη
              </div>
              <div class="card-body  rounded" style="padding-bottom:10px; margin-bottom:5px;">
                <div class="form-group">
                  <div class="row">
                    <div class="col-12">
                      <label for="FirstName">Όνομα</label>
                      <input type="text" name="FirstName" id="FirstName" class="form-control" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                    <label for="LastName">Επώνυμο</label>
                    <input type="text" name="LastName" id="LastName" class="form-control" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                    <label for="Company">Επάγγελμα</label>
                    <input type="text" name="Company" id="Company" class="form-control"  required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <label for="TRN">Α.Φ.Μ</label>
                      <input type="text" name="TRN" id="TRN" class="form-control" list="customer_list" autocomplete="off" required>
                      <datalist id="customer_list">
                      </datalist>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <label for="TaxOffice">Δ.Ο.Υ.</label>
                      <input type="text" name="TaxOffice" id="TaxOffice" class="form-control"  required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer" style="background-color: white;">
                <div class="row justify-content-center vertical-center">
                  <div class="col-6">
                    <button type="button" class="btn btn-primary float-left previous">Προηγούμενο</button>
                  </div>
                  <div class="col-6">
                    <button type="button" class="btn btn-primary float-right next">Επόμενο</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="step-3" style="display: none;">
        <div class="row justify-content-center">
          <div class="col-9">
            <div class="card">
              <div class="card-header text-center">
                Στοιχεία Αποστολής
              </div>
              <div class="card-body  rounded" style="padding-bottom:10px; margin-bottom:5px;">
                <div class="form-group">
                  <div class="row">
                    <div class="col-12">
                      <label for="Country">Χώρα</label>
                      <input type="text" name="Country" id="Country" class="form-control"  required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <label for="City">Πόλη</label>
                      <input type="text" name="City" id="City" class="form-control"  required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <label for="Address">Διεύθυνση</label>
                      <input type="text" name="Address" id="Address" class="form-control"  required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <label for="PostalCode">Ταχυδρομικός Κώδικας</label>
                      <input type="text" name="PostalCode" id="PostalCode" class="form-control"  required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer" style="background-color: white;">
                <div class="row justify-content-center vertical-center">
                  <div class="col-6">
                    <button type="button" class="btn btn-primary float-left previous">Προηγούμενο</button>
                  </div>
                  <div class="col-6">
                    <button type="button" class="btn btn-primary float-right next">Επόμενο</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="step-4" style="display: none;">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="card">
              <div class="card-header text-center">
                Στοιχεία Προϊόντων
              </div>
              <div class="card-body  rounded" style="padding-bottom:10px; margin-bottom:5px;">
                <div class="form-group">
                  <div class="table-responsive">
                      <table class="table table-bordered" id="tab_logic">
                        <thead>
                          <tr>
                            <th scope="col" class="col-1 text-center">#</th>
                            <th scope="col" class="col-3 text-center">ΕΙΔΟΣ ΕΜΠΟΡΕΥΜΑΤΟΣ</th>
                            <th scope="col" class="col-1 text-center">Μ.Μ.</th>
                            <th scope="col" class="col-1 text-center">ΠΟΣΟΤΗΤΑ</th>
                            <th scope="col" class="col-1 text-center">ΤΕΜΑΧΙΑ</th>
                            <th scope="col" class="col-2 text-center">ΤΙΜΗ ΜΟΝΑΔΑΣ</th>
                            <th scope="col" class="col-1 text-center">Φ.Π.Α.</th>
                            <th scope="col" class="col-2 text-center">ΣΥΝΟΛΑ</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr id='addr0'>
                            <td class="text-center">1</td>
                            <td><input type="text" name="product_name0" id="product_name0" class="form-control" onblur="fillit(this.id)" ></td>
                            <td><input type="text" name="product_mu0" id="product_mu0" class="form-control" ></td>
                            <td><input type="text" name='quantity0' id='quantity0'  onchange="calcit(this.id)" class="form-control"/></td>
                            <td><input type="text" name='units0' id='units0'  class="form-control"/></td>
                            <td><input type="text" name="product_up0" id="product_up0" class="form-control" ></td>
                            <td><input type="text" name='fpa0' id='fpa0'  class="form-control"/></td>
                            <td><input type="text" name='total0' id='total0'  class="form-control"/></td>
                          </tr>
                          <tr id='addr1'></tr>
                        </tbody>
                      </table>
                      <div class="container" style="margin-bottom:5px;">
                        <div class="row justify-content-center vertical-center">
                          <div class="col-6">
                            <button type="button" id="add_row" class="btn btn-default float-left">Προσθήκη</button>
                          </div>
                          <div class="col-6">
                            <button type="button" id="delete_row" class="btn btn-default float-right">Διαγραφή</button>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                <div class="card-footer" style="background-color: white;">
                  <div class="row justify-content-center vertical-center">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary float-left previous">Προηγούμενο</button>
                    </div>
                    <div class="col-6">
                      <button type="submit" class="btn btn-success float-right">Εκτύπωση</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
</div>
{% endblock %}
