{% extends 'base.html' %}
{% from "_baseformhelper.html" import render_field, company_field, customer_field, invoice_field, price_field, percent_field%}

{% block extrajs %}
  <script src="{{url_for('static', filename='js/invoice.js')}}"></script>
{% endblock %}

{% block extracss %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/invoice.css') }}">
{% endblock %}

{% block mainbody %}
  <section>
    <div class="container" id="printable">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center">{{ company.name }}</h2>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-4">
          <div class="row">
            <div class="col-12">
              <img style="border:0;width:220px;height:150px;" class="img-thumbnail mx-auto d-block" src="{{ company.logo }}" alt="Company Logo">
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-6 vertical-line">
              {{company_field("Διεύθυνση", company.address)}}
              {{company_field("Πόλη", company.city)}}
              {{company_field("Τ.Κ.", company.postal_code)}}
              {{company_field("Χώρα", company.country)}}
            </div>
            <div class="col-6">
                {{company_field("Επάγγελμα", company.job)}}
                {{company_field("Α.Φ.Μ.", company.TRN)}}
                {{company_field("Δ.Ο.Υ.", company.TaxOffice)}}
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-6">
                  {% if company.phone %}
                  <i class="fas fa-phone"></i> {{ company.phone|join(' - ') }}
                  {% endif %}
                  {% if company.email %}
                  <br>
                  <i class="fas fa-envelope-square"></i> {{ company.email }}
                  {% endif %}
                </div>
                <div class="col-6">
                  {% if company.fax %}
                  <i class="fas fa-fax"></i> {{company.fax|join(' - ')}}
                  {% endif %}
                  {% if company.website %}
                  <br>
                  <i class="fas fa-globe"></i> {{ company.website }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <form id="invoice_form" method="post">
        <div class="row">
          <div class="col-6 vertical-line">
            <h4 class="text-center">Πελάτης</h4>
            <div class="row">
              <div class="offset-1"></div>
              <div class="col-5">
                {{ customer_field("Ονοματεπώνυμο", "Full_Name", "") }}
                {{ customer_field("Επάγγελμα", "Company", "") }}
                <div class="row">
                  <div class="col-12">
                    <label for="TRN" style="display:block;">Α.Φ.Μ.:</label>
                    <input id="TRN" name="TRN" type="text" placeholder="Α.Φ.Μ." list="billingTRNlist" autocomplete="off" style="display:block;"/>
                  </div>
                </div>
                {{ customer_field("Δ.Ο.Υ.", "TaxOffice", "") }}
                <datalist id="billingTRNlist"></datalist>
              </div>
              <div class="col-5">
                {{ customer_field("Διεύθυνση", "BillingAddress", "") }}
                {{ customer_field("Πόλη", "BillingCity", "") }}
                {{ customer_field("Τ.Κ.", "BillingPostalCode", "") }}
                {{ customer_field("Χώρα", "BillingCountry", "") }}
              </div>
              <div class="offset-1"></div>
            </div>
          </div>
          <div class="col-6 text-center">
            <h4>Τιμολόγιο Πώλησης</h4>
            <div class="row">
              <div class="offset-1"></div>
              <div class="col-10 text-center">
                {{ invoice_field("Αριθμός", "InvoiceId", "") }}
                {{ invoice_field("Ημερομηνία", "datepicker1", "") }}
                {{ invoice_field("Προθεσμία", "datepicker2", "") }}
              </div>
              <div class="offset-1"></div>
            </div>
            <hr>
            <br>
            <div class="row">
              <div class="offset-1"></div>
              <div class="col-5 text-left">
                  <h5><strong>Συνολική αξία:</strong></h5>
              </div>
              <div class="col-5 text-right">
                <input type="text" name="Total" id="Total" class="rtl" value="0" style="font-weight:bold;">€
              </div>
              <div class="offset-1"></div>
            </div>
          </div>
        </div>
      </form>
      <hr>
      <div class="row">
        <div class="col-12">
          <table class="table table-sm table-bordered">
            <thead class="bg-dark text-white text-center">
              <tr>
                <th scope="col" style="vertical-align:middle;">Κωδικός</th>
                <th scope="col" style="vertical-align:middle;">Προϊόν</th>
                <th scope="col" style="vertical-align:middle;">Μ.Μ.</th>
                <th scope="col" style="vertical-align:middle;">Ποσότητα</th>
                <th scope="col" style="vertical-align:middle;">Τιμή Μονάδας</th>
                <th scope="col" style="vertical-align:middle;">Αξία</th>
              </tr>
            </thead>
            <tbody id="rowController">
            </tbody>
            <datalist id="product_list"></datalist>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
          <div class="row">
            <div class="col-6">
              {{price_field("Μερικό Σύνολο", "Subtotal", "0")}}
              {{percent_field("Έκπτωση", "Discount", "0")}}
              {{price_field("Μερικό Σύνολο με Έκπτωση", "AfterDiscount", "0")}}
            </div>
            <div class="col-6">
              {{percent_field("Φ.Π.Α.", "VAT", "24")}}
              {{price_field("Αξία Φ.Π.Α.", "VATPrice", "0")}}
              {{ price_field("Οφειλούμενο ποσό", "TotalDue", "0")}}
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <button type="button" id="add_row" name="button" class="btn btn-default">Προσθήκη</button>
          <button type="button" id="delete_row" name="button" class="btn btn-default">Αφαίρεση</button>
          <button style="margin-left:10px" type="button" id="print" name="print" class="btn btn-primary float-right" disabled>Εκτύπωση</button>
          <button type="button" id="save" name="save" class="btn btn-success float-right">Αποθήκευση</button>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
