{% extends 'base.html'%}

{% block extrajs %}
    <script src="../static/js/product.js"></script>
{% endblock %}

{% block mainbody %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1>Εισαγωγή/Ενημέρωση Προϊόντος</h1>
                <hr/>
                <form action="{{ url_for('add_product') }}" method="post">
                  <div class="form-group">
                    <label for="Name">Όνομα Προϊόντος</label>
                    <input type="text" name="Name" id="Name" class="form-control" list="product_list"  autocomplete="off" required>
                    <datalist id="product_list">
                    </datalist>
                    <label for="Description">Περιγραφή Προϊόντος</label>
                    <textarea name="Description" id="Description" class="form-control" rows="3" cols="1"></textarea>
                    <label for="UnitTypeId">Μονάδα Μέτρησης</label>
                    <div class="row">
                      <div class="col-11">
                        <select name="UnitTypeId" id="UnitTypeId" class="form-control custom-select" required>
                        </select>
                      </div>
                      <div class="col-1">
                        <a href="{{ url_for('unittype') }}" target="_blank" title="Είσαγωγή Νέας Μονάδας Μέτρησης"><i class="fas fa-edit"></i></a>
                      </div>
                    </div>
                    <label for="UnitPrice">Τιμή</label>
                    <input type="text" name="UnitPrice" id="UnitPrice" class="form-control" required>
                    <hr/>
                    <button id="btnaddProduct" class="btn btn-lg btn-primary btn-block" type="submit">Εισαγωγή/Ενημέρωση</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
